.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.hero-body {
    margin-top: 45px;
}

.field1 {
    margin-top: 25px;
}

.field2 {
    margin-top: 50px;
}